/* Color Variables */
$dark-blue: #03244d
$orange: #f58124
$text: #666666
$background-grey: #eeeeee

.wrapper-1280
  display: block
  width: 1280px
  margin: 0px auto
  overflow: auto

.wrapper-640
  display: block
  width: 640px
  margin: 0px auto
  overflow: auto

header
  background: $dark-blue
  height: 360px
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35)
  position: fixed
  top: 0px
  width: 100%
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out

  @media only screen and (max-width: 700px)
    height: 25%

#header-logo
  height: 140px
  display: block
  margin: 80px auto
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  z-index: 9

  @media only screen and (max-width: 700px)
    height: auto
    width: 80%

.shrink
  height: 60px

#header-logo.shrink-logo
  width: auto
  height: 40px
  margin: 0
  position: fixed
  top: 10px
  left: 40px

nav#navigation
  display: block
  background: $dark-blue
  position: absolute
  height: 60px
  bottom: 0px
  left: 50%
  transform: translateX(-50%)

  @media only screen and (max-width: 1030px)
    right: 20px
    left: auto
    transform: none

  @media only screen and (max-width: 790px)
    display: none

  ul
    width: 500px
    margin: 0 auto
    padding: 0
    height: 60px
    display: flex
    list-style: none

    li
      font-family: "Roboto", sans-serif
      font-size: 24px
      font-weight: normal
      padding: 15px 15px 17px
      color: white

      a, a:visited
        color: white
        text-decoration: none
        display: block

      a:hover, a:active
        color: $orange

    .active
      padding: 15px 15px 12px
      border-bottom: 5px solid $orange

#menu-icon
  display: none
  position: fixed
  right: 40px
  top: 15px
  height: 30px
  cursor: pointer

  @media only screen and (max-width: 790px)
    display: block

nav#mobile-navigation
  display: none
  background: $dark-blue
  position: fixed
  height: 250px
  top: 60px
  width: 100%

  @media only screen and (min-width: 790px)
    display: none

  ul
    list-style: none
    position: absolute
    right: 0px

    li
      font-family: "Roboto", sans-serif
      font-size: 24px
      font-weight: normal
      padding: 7px 20px 9px
      color: white
      text-align: right

      a, a:visited
        color: white
        text-decoration: none
        display: block

      a:hover, a:active
        color: $orange

    .active
      padding: 7px 15px 9px
      border-right: 5px solid $orange

.spacer
  width: 100%
  display: block
  height: 360px

  @media only screen and (max-width: 700px)
    height: 220px

#mission-statement
  height: 200px
  width: 1200px
  display: block
  margin: 40px auto

  p
    font-family: "Roboto", sans-serif
    font-size: 30px
    font-weight: normal
    color: $text
    margin: 5px
    text-align: center
    line-height: 36px

.sub-heading
  font-family: "Roboto", sans-serif
  font-size: 48px
  font-weight: bold
  color: $orange
  text-align: center
  margin: 15px 0 10px

#mailing-list
  background: $background-grey
  overflow: auto
  height: 340px

  form
    width: 640px
    display: block
    margin: 0 auto

    .mc-field-name
      display: inline-block

      input
        height: 20px
        width: 270px
        border: 3px solid $dark-blue
        padding: 10px
        font-size: 24px
        margin: 5px 0px 10px

    .mc-field-name:nth-child(2)
      margin-left: 40px

    .mc-field-email

      input
        height: 20px
        width: 610px
        border: 3px solid $dark-blue
        padding: 10px
        font-size: 24px
        margin: 5px 0px 10px

    label
      font-family: "Roboto", sans-serif
      font-size: 24px
      font-weight: normal
      margin: 5px 0px 2px
      color: $dark-blue

      span
        font-size: 18px
        color: $text

    input.button
      width: 150px
      height: 40px
      background: $dark-blue
      color: white
      font-size: 24px
      font-family: "Roboto", sans-serif
      text-align: center
      border: none
      margin: -20px 0px 0px

    input.button:hover
      cursor: pointer

#staff
  width: 840px
  display: block
  margin: 40px auto
  overflow: auto

  .staff-member
    width: 800px
    display: block
    margin: 40px auto
    overflow: auto

    .staff-member-photo
      width: 200px
      height: 200px
      float: left
      margin: 0 15px 5px 0

    .staff-member-name
      font-family: "Roboto", sans-serif
      font-size: 30px
      font-weight: bold
      color: $dark-blue
      margin: 0 0 10px

    .staff-member-about
      font-family: "Open Sans", sans-serif
      font-size: 14px
      font-weight: normal
      color: $text
      line-height: 20px
      margin: 0
      text-align: left

footer
  width: 100%
  height: 60px
  background: $orange
  margin: 20px 0 0 0
  overflow: auto

  p
    text-align: center
    color: white
    font-family: "Open Sans", sans-serif
    font-size: 16px
    margin: 20px
